.bodycare-remedies {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
}

.bodycare-remedies h1 {
  color: #333;
  margin-bottom: 20px;
}

.remedy-listb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.remedy-cardb {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.remedy-cardb img {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.remedy-cardb h3 {
  color: #444;
  margin: 10px 0;
}

.remedy-cardb p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.remedy-cardb button {
  background-color: rgb(125, 125, 83);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
  font-size: 16px;
  display: block;
  margin: 20px auto;
  text-align: center;
  transition: 0.3s;
}

.remedy-cardb button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  font-weight: bold;
}
